.mat-form-field-prefix,.text-label{
  min-width:8rem;
  color:map-get($colors,muted);
}
.mat-form-field-underline{
  background-color:$lt-border-color;
}
.mat-input-container{
  font-size:map-get($font-size,md);
  width:100%;
}
