<app-title title="个人中心"></app-title>
<div [style.height.px]="contentHeight" class="scroll-c">
<div class="center" style="height:150px;">
  <div class="avatar" [ngStyle]="{'backgroundImage':'url('+this.imgAddress+')'}"></div>
</div>

<div class="text-card between">
  如有疑问，请电话联系我们
  <span class="color-p">联系你们</span>
</div>

<div class="mt-3 color-muted text-center">
  <div class="center">
    <div class="horizon-container" style="width:50%">
      <span class="horizon-list"></span>
      <span class="badge-item">我的订单</span>
      <span class="horizon-list"></span>
    </div>
  </div>
  <p >没有跟多了~</p>
</div>
</div>
